<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambio de contraseña</title>
  </head>
  <body>
    <h1>Cambio de contraseña</h1>
    <h2>Hola {{name}}.</h2>
    <p>Hemos recibido una solicitud para cambiar la contraseña de tu cuenta de Seproamérica</p>
    <p>En caso que no hayas solicitado este cambio, por favor ignora este correo electrónico</p>
    <p>Si no es así, por favor haz clic en el enlace de abajo para completar este proceso:</p>
    <a href="{{ HOST_URL }}{% url 'newpasswordverification' token=verification_token %}">Clic aquí para cambiar tu contraseña</a>
    <h3>Este enlace expirará en 24 horas </h3>
    <p>Gracias por usar nuestro servicio.</p>
  </body>
</html>