<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restablecimiento de contraseña</title>
</head>
<body>

    <h1>Restablecimiento de contraseña</h1>
    <h2>Hola {{ name }}.</h2>
    <p>Hemos recibido una solicitud para el restablecimiento de contraseña de tu cuenta</p>
    <p>En caso que no hayas solicitado un restablecimiento de contraseña, por favor ignora este correo </p>
    <p>Si no es así,  por favor usa el siguiente código de verificación para restablecer tu contraseña:</p>
    <div><b>{{ verification_token }}</b></div>
    <p>El código expirará en 24 horas.</p>
    <p>Gracias por usar nuestro servicio.</p>

</body>
</html>