<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

    <h1>Restablecimiento de contraseña</h1>
    <h2>Hola {{ name }}.</h2>
    <p>Hemos recibido una solicitud para el restablecimiento de contraseña de tu cuenta</p>
    <p>Si tu no has solicitado un restablecimiento de contraseña, por favor ignora este email </p>
    <p>Si no es así, para ingresar a tu cuenta por favor usa esta nueva contraseña:</p>
    <div><b>{{ new_password }}</b></div>
    <p>Te recomendamos que cambies esta contraseña por una que recuerdes facilmente</p>
    <p>Gracias por usar nuestro servicio.</p>

</body>
</html>