<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

    <h1>Restablecimiento de contraseña</h1>
    <p>Hola {{ name }},</p>
    <p>Hemos recibido una solicitud para el restablecimiento de contraseña de tu cuenta</p>
    <p>Si tu no has solicitado un restablecimiento de contraseña, por favor ignora este email </p>
    <p>Si no es así, por favor usa el siguiente token de verificación para restablecer tu contraseña:</p>
    <div class="verification-code">{{ verification_token }}</div>
    <p>El token expirará en 24 horas.</p>
    <p>Gracias por usar nuestro servicio.</p>

</body>
</html>